<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="apiurl" value="http://localhost/api/v1/"/>
		<add key="clientID" value="jdfniwrfwofewof"/>
	</appSettings>
	<connectionStrings>
		<add name="DatabasePath" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=ADOConnection;User ID=sa;Password=1234;"/>
	</connectionStrings>
	<runtime>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"></bindingRedirect>
		</dependentAssembly>
	</runtime>
</configuration>
